{% include "header.jinja2" %}

<div id="main" role="main">
	<div class="event-page-border">
		<div class="white-textured-bg detail-artwork-page">

			{% if param_success %}
				{% set message_type = 2 %}
				{% include "misc/_messages_.jinja2" %}
			{% endif %}

			{% if reject %}
				<div class="reject_message_container">
					Artwork was rejected by <b>{{ reject_name }}</b> (<a href="http://twitter.com/{{ reject_name }}">Twitter</a>)<br>
					with reason: <b>{{ reject.reason }}</b>
				</div>
			{% elif not approve.approved %}
				<div class="waiting_message_container">
					This artwork is need to be approved
				</div>
			{% endif %}

			{% if login %}
				<div class="player-gold-on-page-outer">
					<div class="player-gold-on-page" id="player-gold">
						<i class="icon gold"></i> <span class="counter">{{ login_resources.gold }}</span>
					</div>
				</div>
			{% endif %}

			<a class="link-back" href="/u/shop#!tab-artworks">Marketplace</a>
			<br class="clear">

			<div class="mt-20">
				<div class="shop-popup-img">
					<span class="img-cont"><img class="artwork-img" src="{{ img }}" alt="{{ name }}"></span>
				</div>

				<div class="artwork-info  can-use-{{ can_use }}" id="like-artwork">

				{% if race_name or class_name %}
					<span class="artwork-type artwork-type">{{ race_name }} {{ class_name }}</span>
				{% endif %}
					{% if tag %}<span class="item-tag">{{ tag|capitalize }}</span>{% endif %}

					<h2 class="artwork-name">{{ name }}
						{% if author_name %}
							<span class="artwork-author">by @<a href="/{{ author_name }}">{{ author_name }}</a></span>
						{% endif %}
					</h2>

					<p class="artwork-text">
						{{ desc }}
					</p>

					{% set parent = "like-artwork" %}
					{% set like_type = 'artwork' %}
					{% include "misc/_like_block.jinja2" %}

					<span class="artwork-cost">
						<i class="icon gold-3"></i>
						<span>{{ cost }}</span>
						{% if login and login_resources.gold < cost %}
							<br>Not enough gold to buy
						{% endif %}
					</span>

					{% if login %}
						<form action="/u/shop" method="post">

							{% if already_have %}
								{% if sale_info and sale_info.active and not reject %}
									<div class="error-buy">
										You already have this artwork<br>
										Check <a href="/settings">settings page</a> to change your current artwork
									</div>
								{% endif %}

							{% elif class == login_class and race == login_race and faction == login_faction  %}
								{% if login_resources.gold >= cost %}

									{% if not reject and sale_info and sale_info.active and approve and approve.approved %}
										{% if img_info.verified %}
											<input type="hidden" name='artwork_id' value="{{ _id }}">
											<input type="hidden" name='item_name' value="{{ name }}">
											<input type="hidden" name="type_of_form" value="buy_artwork">
											<input type="hidden" name='backlink' value="/u/artwork?id={{ _id }}&success=1">
											<input type="submit" value="Buy" class="btn2 btn2-classic btn2-wide">
										{% else %}
											<div class="error-buy">
												This artwork needs to be authorised by author<br>
												to players can buy it
											</div>
										{% endif %}
									{% endif %}

								{% endif %}

							{% else %}
								{% if sale_info and sale_info.active and not reject %}
									<div class="error-buy">
										This is a pretty artwork but you can't buy it.<br>
										Because it for {{ race_name }} {{ class_name }}
										and you are {{ player_race_name }} {{ player_class_name }}
									</div>
								{% endif %}
							{% endif %}


							{% if login_moderator or login_admin or login_id == author and not sale_info.active %}
								<a href="/u/edit_artwork?id={{ _id }}" class="btn2 btn2-gray">Edit</a>
							{% endif %}

						</form>
					{% else %}

					{% endif %}

					{% if login_admin %}
						{% set reject_type = 'artwork' %}
						{% include "misc/_admin_reject.jinja2" %}
					{% endif %}

					<div class="no-ml">
						{% include "ugc/_artwork_info_block.jinja2" %}
					</div>

					<div class="item-popup-share">
						{% set share_type = "artwork_page" %}
						{% include "misc/_share_buttons.jinja2" %}
					</div>

					<div class="disqus-thread">
						<div id="disqus_thread"></div>
					</div>
				</div>

				<script type="text/javascript">
					var disqus_shortname = 'tweeria'; // required: replace example with your forum shortname

					(function () {
						var dsq = document.createElement('script');
						dsq.type = 'text/javascript';
						dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>

			</div>

		</div>
	</div>
</div>

<script type="text/javascript" src="/js/page_scripts/like.js"></script>
<script src="/js/page_scripts/share.js?{{ build }}"></script>

{% include "footer.jinja2" %}
