body {
    background: url('../../style/img/_invite/invite_bg.gif') repeat-x fixed;
    height: 90%;
}

html {
    height: 90%;
}

table {
    width: 100%;
    height: 90%;
    color: #989d8f;
    font-size: 14px;
    font-family: "Georgia";
    line-height: 24px;
}

    table td {
        vertical-align: middle;
        text-align: center;
    }

a {
    color: #eaa056;
}

    a:hover {
        color: #ffffff;
    }

