.DS_Store
*.pyc
*.log
__lock__
*.pid
.idea
templates/data/generated/*
templates/data/uploaded/guilds_avatars/*.*
templates/data/item_images/*.png
templates/data/resized_image/guilds_avatars/*.png
templates/data/resized_image/items/*.png
templates/data/resized_image/artworks/*.png
templates/data/resized_image/spells/*.png
templates/data/resized_image/*.png
templates/data/buffer/*.png
templates/data/buffer/*.jpg
import_base/docs/mech_tweenk/*.csv
templates/data/tmp_image/*.png
templates/sass/
templates/sass/*
tools/out.csv

node_modules/

templates/js/page_scripts/
templates/js/plugins.js

.sass-cache/
templates/style/*.css