<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="vkontakte"><head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1251">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ВКонтакте | Like Widget</title>
    <link rel="stylesheet" href="/css/rustyle.css?174" type="text/css">
    <script type="text/javascript">if (!window.vk) window.vk = {loginscheme: 'https', ip_h: '8d3da4ec4629829d44'};</script>
    <script>var base_domain = '/';</script><script src="/js/common.js?301"></script>
    <script type="text/javascript" src="/js/lang0_0.js?6364"></script>
    <script type="text/javascript" src="/js/api/xdm.js?3"></script>
    <link rel="stylesheet" href="/css/widgets.css?45" type="text/css">
    <script type="text/javascript" src="/js/api/widgets/like.js?24"></script>
    <base target="_blank">

    <link rel="shortcut icon" href="">
    <!--[if lte IE 6]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/css/ie.css?14); /* ]]> */</style><![endif]-->
    <!--[if IE 7]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/css/ie7.css?13); /* ]]> */</style><![endif]-->
    <!--[if gte IE 8]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/css/ie8.css); /* ]]> */</style><![endif]-->
    <script type="text/javascript">
        <!--

        onDomReady(function() {
            window.init_dec_hash();
        });

        var base_domain = '/';

        window.init_dec_hash = function() {
            window.decoded_hashes = {};
            var dec_hash = function(hash) {
                (function(_){window.decoded_hashes[_]=(function(__){var ___=ge?'':'___';for(____=0;____<__.length;++____)___+=__.charAt(__.length-____-1);return geByClass?___:'___';})(_.substr(_.length-5)+_.substr(4,_.length-12));})(hash);
            }
            window.decodehash = function(hash) {
                dec_hash(hash);
                return window.decoded_hashes[hash];
            }
        }

        //-->
    </script>
    <style type="text/css"></style></head>

<body id="like_body">

<div class="like_tabled like_tabled_lite like_wrap_h22" id="main">
    <div class="like_wrap fl_l" id="checkbox">
        <div class="like_wrap1">
            <table>
                <tbody><tr><td class="like_left">
                    <div class="icon"></div>
                </td><td class="like_right">
                    <div class="like_right_border">
                        <div class="icon"></div>
                    </div>
                </td></tr>
                </tbody></table>
        </div>
    </div>
    <a class="like_counter_wrap fl_l" href="/feed?section=search&amp;q=url%3Ahttp%3A%2F%2Fvk.com%2Fdevelopers.php%3Foid%3D-1%26p%3DLike">
        <div class="like_counter">
            <div class="arrow"></div>
            <span id="stats_num">77K</span>
        </div>
    </a>
</div>  <script type="text/javascript">
    var _aid = 1936057;
    var _pageQuery = '1936057.Like';
    var _pageId = 18653450;
    var noAuthVal = false;
    var likeHash = '25016c56df43b41e27';
    var likeURL = 'http://vk.com/developers.php?oid=-1&p=Like';
    var shareData = {"wall_hash":"bf00f172bf914d8eea","title":"Виджет &quot;Мне нравится&quot; ВКонтакте","description":"Теперь Вы можете за пять минут добавить на страницы своего сайта галочку &quot;Мне нравится&quot;, с помощью которой Ваши посетители смогут в один клик рекоменд...","text":""};
    var counter = 77180;
</script>
<!-- bFooter -->

<!-- End bFooter -->
<!-- End pageLayout 10409 -->



</body></html>