<!doctype html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Tweeria is unavailable </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/style/error.css">

</head>
<body>
<table>
    <tr>
        <td>
            <img src="http://tweeria.com/style/img/_invite/big_logo.png">
            <p>
                Tweeria is unavailable now. We're working to fix it.<br>
                Please read latest news about maintenances here -> <a href="http://twitter.com/tweeria">@tweeria</a>
            </p>
        </td>
    </tr>
</table>

</body>

</html>
