<script type="text/javascript">
	reformal_wdg_domain    = "tweeria";
	reformal_wdg_mode    = 0;
	reformal_wdg_title   = "Tweeria";
	reformal_wdg_ltitle  = "Feedback";
	reformal_wdg_lfont   = "";
	reformal_wdg_lsize   = "";
	reformal_wdg_color   = "#FFA000";
	reformal_wdg_bcolor  = "#516683";
	reformal_wdg_tcolor  = "#FFFFFF";
	reformal_wdg_align   = "left";
	reformal_wdg_waction = 0;
	reformal_wdg_vcolor  = "#9FCE54";
	reformal_wdg_cmline  = "#E0E0E0";
	reformal_wdg_glcolor  = "#105895";
	reformal_wdg_tbcolor  = "#FFFFFF";

	reformal_wdg_bimage = "bea4c2c8eb82d05891ddd71584881b56.png";

</script>

<script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=tweeria"></script><noscript><a href="http://tweeria.idea.informer.com">Tweeria feedback </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a></noscript>