{% set itemNewTypes = [
		{ 'name': 'Weapons', 'types': [
			{ "value": '1:dagger', "name": "Dagger" },
			{ "value": '1:sword', "name": "Sword" },
			{ "value": '1:axe', "name": "Axe" },
			{ "value": '1:bow', "name": "Bow" },
			{ "value": '1:crossbow', "name": "Crossbow" },
			{ "value": '1:staff', "name": "Staff" }
		]},

		{ 'name': 'Armor', 'types': [
			{ "value": '4', "name": "Helm" },
			{ "value": '13', "name": "Shoulders" },
			{ "value": '9', "name": "Wrist" },
			{ "value": '10', "name": "Gloves" },
			{ "value": '12', "name": "Chest" },
			{ "value": '8', "name": "Waist" },
			{ "value": '11', "name": "Leggings" },
			{ "value": '7', "name": "Boots" }
		]},

		{ 'name': 'Jewel', 'types': [
			{ "value": '5', "name": "Necklace" },
			{ "value": '6', "name": "Ring" }
		]}
] %}
