{% if not item_img and item.img%}
	{% set item_img = item.img %}
{% endif %}
<img src='{{ item_img }}'>
	<c class='player_item'>
		<n0>{{ item.name }}</n0>
		{{ item.bonus_stats }}
	</c>
	<div class='clear'></div>
