{% include "header.jinja2" %}

<div id="main" role="main">
	<div class="event-page-border">
		<div class="white-textured-bg cc-page cc-help-page">
			<h2>Licenses</h2>
			<div id="accordion-help">
				<h3><a class="ac-head" name="cc">1. Creative Commons</a></h3>
				<div>
					<p>
						The Creative Commons copyright licenses and tools forge a balance
						inside the traditional “all rights reserved” setting that copyright law creates.
						Our tools give everyone from individual creators to large companies and institutions a
						simple, standardized way to grant copyright permissions to their creative work.
						The combination of our tools and our users is a vast and growing digital commons, a
						pool of content that can be copied, distributed, edited, remixed, and built upon, all
						within the boundaries of copyright law.
					</p>
					<p>
						For more information please read <a href="http://creativecommons.org/licenses/">official website</a>
					</p>
				</div>

				<h3><a class="ac-head" name="cc-by">Attribution (CC BY)</a></h3>
				<div>
					<p>
						<img src="/style/img/licenses/cc-by.png"><br>
						This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials.
					</p>
				</div>

				<h3><a class="ac-head" name="cc-by-sa">Attribution-ShareAlike (CC BY-SA)</a></h3>
				<div>
					<p>
						<img src="/style/img/licenses/cc-by-sa.png"><br>
						This license lets others remix, tweak, and build upon your work even for commercial purposes, as long as they credit you and license their new creations under the identical terms. This license is often compared to “copyleft” free and open source software licenses. All new works based on yours will carry the same license, so any derivatives will also allow commercial use. This is the license used by Wikipedia, and is recommended for materials that would benefit from incorporating content from Wikipedia and similarly licensed projects.
					</p>
				</div>

				<h3><a class="ac-head" name="cc-by-nd">Attribution-NoDerivs (CC BY-ND)</a></h3>
				<div>
					<p>
						<img src="/style/img/licenses/cc-by-nd.png"><br>
						This license allows for redistribution, commercial and non-commercial, as long as it is passed along unchanged and in whole, with credit to you.
					</p>
				</div>

				<h3><a class="ac-head" name="cc-by-nc">Attribution-NonCommercial (CC BY-NC)</a></h3>
				<div>
					<p>
						<img src="/style/img/licenses/cc-by-nc.png"><br>
						This license lets others remix, tweak, and build upon your work non-commercially, and although their new works must also acknowledge you and be non-commercial, they don’t have to license their derivative works on the same terms.
					</p>
				</div>

				<h3><a class="ac-head" name="cc-by-ncc-sa">Attribution-NonCommercial-ShareAlike (CC BY-NC-SA)</a></h3>
				<div>
					<p>
						<img src="/style/img/licenses/cc-by-nc-sa.png"><br>
						This license lets others remix, tweak, and build upon your work non-commercially, as long as they credit you and license their new creations under the identical terms.
					</p>
				</div>

				<h3><a class="ac-head" name="cc-by-nc-nd">Attribution-NonCommercial-NoDerivs  (CC BY-NC-ND)</a></h3>
				<div>
					<p>
						<img src="/style/img/licenses/cc-by-sa.png"><br>
						This license is the most restrictive of our six main licenses, only allowing others to download your works and share them with others as long as they credit you, but they can’t change them in any way or use them commercially.
					</p>
				</div>

				<h3><a class="ac-head" name="closed">2. Closed License</a></h3>
				<div>
					<p>
						If you selected this license, you will grant Tweeria rights to modify, save and display
						this content. Other people and projects (as well as another Twee Game products) can't use your content under this license.
					</p>
				</div>

			</div>


			<div class="clear"></div>
		</div>
	</div>
</div>