{% include "header.jinja2" %}


<script src="/js/page_scripts/players_top.js?{{ build }}"></script>
<div id="main" role="main">
	<div class="event-page-border">
		<div class="white-textured-bg ratings-page all-page">

			<a class="link-back" href="/top">Back</a><br>
			<br class="clear">

			<div>
				{% if param_order=="1" %}
					{% set order = "-1" %}
				{% else %}
					{% set order = "1" %}
				{% endif %}
				{% set addPagePart = "" %}
				{% if param_field %}
					{% set addPagePart = addPagePart+"&field="+param_field|string %}
				{% endif %}

				{% if param_order %}
					{% set addPagePart = addPagePart+"&order="+param_order|string %}
				{% endif %}
				<table class="ratings-table">
					<thead>
					<tr>
						<th class="number" colspan="2">
							<h2>Best players</h2>

						</th>
						<th class="race_class"></th>
						<th class="level{% if param_field == "lvl" %} sorted{{ order }} {% endif %}">
							<a href="/all-players?field=lvl&order={{ order }}">Level</a>
							<i></i>
						</th>
						<th class="achv_points{% if param_field == "achv_points" %} sorted{{ order }} {% endif %}">
							<a href="/all-players?field=achv_points&order={{ order }}">Achv</a>
							<i></i>
						</th>
						<th class="pvp_points{% if param_field == "pvp_score" %} sorted{{ order }} {% endif %}">
							<a href="/all-players?field=pvp_score&order={{ order }}">PvP</a>
							<i></i>
						</th>
						<th class="guild{% if param_field == "_guild_name" %} sorted{{ order }} {% endif %}">
							<a href="/all-players?field=_guild_name&order={{ order }}">Guild</a>
							<i></i>
						</th>
					</tr>
					</thead>
					<tbody>

					{% for player in players %}
						<tr>
							<td>{{ loop.index+20*(param_pi|int-1) }}</td>
							<td>
                                <img src="{{ player.avatar }}" onerror="this.src='/style/img/unknown.jpg'">
                                <a href="/{{ player.name }}">{{ player.name }}</a>
                            </td>
							<td>{{ player.race_name }} {{ player.class_name }}</td>
							<td>Level {{ player.lvl }} </td>
							<td>{{ player.achv_points }} </td>
							<td>{{ player.pvp_score }} </td>
							<td class="player-guild"><a href="/guilds/{{ player._guild_name }}">{{ player._guild_name }} </a></td>
						</tr>
					{% endfor %}

					</tbody>
				</table>
			</div>

			<br class="clear">
			{% if total_pages and total_pages > 1 %}
				<div class="pager">
					{% if param_pi|int == 1 %}
						<span class="prev">prev</span>
					{% else %}
						<a href="?pi={{ param_pi|int - 1 }}{{ addPagePart }}" data-page="{{ param_pi|int - 1 }}" class="prev">prev</a>
					{% endif %}
					<ul class="page-list">

						{% for number_page in display_pages %}
							<li>
								{% if param_pi|int == number_page %}
									<span>{{ number_page }}</span>
								{% else %}
									{% if number_page == '.' %}
										...
									{% else %}
										<a href="?pi={{ number_page }}{{ addPagePart }}">{{ number_page }}</a>
									{% endif %}
								{% endif %}
							</li>
						{% endfor %}

					</ul>
					{% if param_pi|int == total_pages %}
						<span class="next">next</span>
					{% else %}
						<a href="?pi={{ param_pi|int + 1 }}{{ addPagePart }}" data-page="{{ param_pi|int + 1 }}" class="next">next</a>
					{% endif %}
				</div>
			{% endif %}
			<br class="clear">
		</div>
	</div>
</div>


{% include "footer.jinja2" %}