

<script id="shop-item-popup" type="text/x-jquery-tmpl">

	{% include "popups/item.jinja2" %}

</script>

<script id="shop-spell-popup" type="text/x-jquery-tmpl">

	{% include "popups/spell.jinja2" %}

</script>

<script id="shop-artwork-popup" type="text/x-jquery-tmpl">

	{% include "popups/artwork.jinja2" %}

</script>
