<div style="background-color: white; padding: 10px;">
	<table>
		<tr>
			<td style="padding-right: 20px; vertical-align: top; ">
				<a href="/u/waiting_items">Waiting Items (Admin)</a>
				<a href="/u/spellbook">Spellbook</a><br>
				<a href="/u/waiting_spells">Waiting spells (Admin)</a><br>
			</td>

		</tr>
	</table>

	<div style="background-color: white; font-size:11px; color:black;">

       <pre>
       {{ fields|pprint }}
       </pre>
	</div>

</div>