	   		<div class="push clear"></div>
	   </div>
	   <div id="footer">
			<div>
				Tweenk {{ version }}, build {{ build }}
			</div>
			<div id="rights">
				Based on World of Warcraft image files and texts. Artworks by
				Blizzard, Sony Online Entertaiment, Kerem Beyit, Brandon Kitkouski, Tyler Walpole,
				Derk Venneman, Hee Won Lee.
				All rights belong to their authors.
			</div>
			<div class="last_elem">
				<br>Twitter: <a href="http://twitter.com/tweeria">@tweeria</a>, and <a href="http://tweenk.tumblr.com">blog</a>

			</div>
		</div>
        <div class="social-footer-block">

        </div>

		<div style="background-color: white;">
			<pre>
			{{ fields|pprint }}
			</pre>

		</div>
	</body>
</HTML>