</div>

<footer class="main">
	<div class="footer-text">

		<p>
			Based on free art and players added image files and texts. <a href="/credits">Learn more</a><br>
			All rights belong to their authors. <br>
			©2014 Alex Shteinikov.
			Version {{ version }} ({{ build }})
			<a href="https://plus.google.com/108687026135179454546" rel="publisher">Google+</a>
		</p>
		<ul class="footer-social">
			<li><a href="http://twitter.com/tweeria" class="tw">Twitter</a></li>
			<li><a href="http://www.facebook.com/tweeria" class="fb">Facebook</a></li>
			<li><a href="http://vk.com/tweenk_me" class="vk">VK</a></li>
			<li><a href="http://tweeria.wikia.com" class="wikia">Wikia</a></li>
		</ul>
		<br class="clear">
	</div>

</footer>

<script type="text/javascript">
	reformal_wdg_domain    = "tweeria";
	reformal_wdg_mode    = 0;
	reformal_wdg_title   = "Tweeria";
	reformal_wdg_ltitle  = "Feedback";
	reformal_wdg_lfont   = "";
	reformal_wdg_lsize   = "";
	reformal_wdg_color   = "#FFA000";
	reformal_wdg_bcolor  = "#516683";
	reformal_wdg_tcolor  = "#FFFFFF";
	reformal_wdg_align   = "left";
	reformal_wdg_waction = 0;
	reformal_wdg_vcolor  = "#9FCE54";
	reformal_wdg_cmline  = "#E0E0E0";
	reformal_wdg_glcolor  = "#105895";
	reformal_wdg_tbcolor  = "#FFFFFF";

	reformal_wdg_bimage = "bea4c2c8eb82d05891ddd71584881b56.png";
</script>
<script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=tweeria"></script><noscript><a href="http://tweeria.idea.informer.com">Tweeria feedback </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a></noscript>

{# {% include "misc/_help_overflow.jinja2" %} #}

{% if login_admin and param_debug %}
	{% include "_debug_menu.jinja2" %}
{% endif %}

<script type="text/javascript">
	 var _gaq=[['_setAccount','UA-35878689-1'],['_trackPageview']];
		 (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		 g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		 s.parentNode.insertBefore(g,s)}(document,'script'));
</script>


</body>
</html>
