<div class="the-end">

    <div class="the-end__text">

        <h3>So sad that this journey is going to end</h3>

        <p>
            We have no resources to maintain and improve Tweeria, so this game will be closed soon.<br>
            Please <a href="mailto:yeah@tweenk.me">contact us</a> if you have any ideas how to keep Tweeria alive,
            want to offer us a partnership or any other kind of cooperation.
        </p>
    </div>

</div>