{% include "header.jinja2" %}

<div id="main" role="main">
	<div class="event-page-border">
		<div class="white-textured-bg craft-items-page">
			<a class="link-back" href="/u/creation_center">Creation center</a>
			<h2>New item</h2>

			<div class="easy-error-message">
				You have not enough Ore resource to creating items<br>
				Try to kill monsters to find it
			</div>
		</div>
	</div>
</div>

{% include "footer.jinja2" %}